# Byte-compiled / optimized / DLL files
__pycache__/
*.py[oc]
*.pyd
build/
dist/
wheels/
*.egg-info

# Virtual environment
.venv/

# Package manager lock file
uv.lock

# Python version file
.python-version

# Database files
database/

# Documentation
docs/

# Streamlit configuration
.streamlit/